/* inicializing the screen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main screen game */
.game {
  width: 80%;
  height: 500px;
  border: 1px solid #333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/*pipe class*/
.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

/*mario class*/
.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}


/*class with the jump animation*/
.jump {
  animation: jump-mario 600ms ease-out;
}




/*pipe passing in thee main screen*/
@keyframes pipe-animation {
  from {
    right: -80px;
  }
  
  to {
  right: 100%;
  }
}

/*mario jump animation*/
@keyframes jump-mario {
  0% {
    bottom: 0px;
  }
  
  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
  bottom: 180px;
  }

  100% {
  bottom: 0px;
  }
}
